{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

<div class="relative overflow-hidden">
  <div class="bg-color pt-10 pb-14 sm:pt-16 lg:overflow-hidden lg:pt-24 lg:pb-24">
    <div class="mx-auto max-w-5xl lg:px-8">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8">
        <div class="mx-auto max-w-md px-4 text-center sm:max-w-2xl sm:px-6 lg:flex lg:items-center lg:px-0 lg:text-left">
          <div class="lg:py-24">
            <h1 class="mt-4 text-4xl font-bold tracking-tight text-intro sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl"><span class="block text-color">Bienvenue sur WaveCast! </span><span class="block text-black">Ecoutez et partagez vos podcasts </span></h1>
            <p class="mt-3 text-base text-intro sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">Ecoutez, telecharger , partagez vos contenus audio et devenez créateur de podcast.</p>
            <div class="mt-10 sm:mt-12">

                <!-- This is a working waitlist form. Create your access key from https://web3forms.com/s to setup.  -->
              
        <div class="mt-3 sm:mt-0 sm:ml-3"><button type="submit" class="block w-full rounded-md bg-b py-3 px-4 font-medium text-white shadow hover:bg-pink-400 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2 focus:ring-offset-gray-900">
        <a href= {{ ('/login') }}>Login</a>
        </button>
        </div>
                <div class="mt-3 sm:mt-0 sm:ml-3"><button type="submit" class="block w-full rounded-md bg-b py-3 px-4 font-medium text-white shadow hover:bg-pink-400 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2 focus:ring-offset-gray-900">
                <a href= {{ ('/register') }}>Register</a>
        </button>
    </div>
             
            </div>
          </div>
        </div>
        <div class="mt-12 hidden lg:block"><img class="" src="https://images.unsplash.com/photo-1608209098851-e82b613e843c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" /></div>
      </div>
    </div>
  </div>
</div>

<!-- component -->
<!-- 
    Tailwind Play Link:
    https://play.tailwindcss.com/Iq18cgjApI 
-->


<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-purple py-6 sm:py-12">
  <div class="mx-auto max-w-4xl rounded-3xl bg-[#092540] p-20 text-center bg-black">
    <h2 class="text-5xl font-bold leading-tight text-white">A VOS PODCASTS ! </h2>
    <p class="mt-5 text-xl leading-8 text-white">Vous avez des contenu audio et vous souhaitez le partager?</p>
    <p class="mt-5 text-xl leading-8 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="mt-6 flex items-center justify-center gap-4">
      <button class="flex items-center justify-center gap-2 rounded-full bg-violet-500 px-5 py-3 text-lg font-medium text-white">
        <span>Inscrivez-vous</span>
        <span
          ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M6.00156 13.4016L4.60156 12.0016L8.60156 8.00156L4.60156 4.00156L6.00156 2.60156L11.4016 8.00156L6.00156 13.4016Z" fill="white" /></svg
        ></span>
      </button>
      <button class="flex items-center justify-center gap-2 rounded-full border border-white/50 px-5 py-3 text-lg font-medium text-white">
        <span>Connectez-vous</span>
        <span
          ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M6.00156 13.4016L4.60156 12.0016L8.60156 8.00156L4.60156 4.00156L6.00156 2.60156L11.4016 8.00156L6.00156 13.4016Z" fill="white" /></svg
        ></span>
      </button>
    </div>
  </div>
</div>
    <div class="p-8">
   <div id="services" class="section relative pt-20 pb-8 md:pt-16 md:pb-0 bg-services">
    <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- Heading start -->
        <header class="text-center mx-auto mb-12 lg:px-20">
            <h2 class="text-2xl leading-normal mb-2 font-bold text-black">A propos </h2>
            <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">Decouvrez les differentes fonctionalités de mon app </p>
        </header>
        <!-- End heading -->
        <!-- row -->
        <div class="flex flex-wrap flex-row -mx-4 text-center">
            <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                <!-- service block -->
                <div class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2">
                    <div class="inline-block text-gray-900 mb-4">
                        <!-- icon -->
                        
                    </div>
                    <h3 class="text-lg leading-normal mb-2 font-semibold text-black">Ecoutez</h3>
                    <p class="text-gray-500">En tant que visiteur vous pouvez voir les different contenu des Users</p>
                </div>
                <!-- end service block -->
            </div>
            <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
                <!-- service block -->
                <div class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2">
                    <div class="inline-block text-gray-900 mb-4">
                        <!-- icon -->
                       
                    </div>
                    <h3 class="text-lg leading-normal mb-2 font-semibold text-black">Creer</h3>
                    <p class="text-gray-500">Devenez Createur en proposant du contenu</p>
                </div>
                <!-- end service block -->
            </div>
            <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
                <!-- service block -->
                <div class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2">
                    <div class="inline-block text-gray-900 mb-4">
                        <!-- icon -->
                      </div>
                    <h3 class="text-lg leading-normal mb-2 font-semibold text-black">Podcaster</h3>
                    <p class="text-gray-500">Profitez du services de podcast qui converti vos mp3 en podcast</p>
                </div>
            </div>
        </div>
    </div>
</div>
   

{% endblock %}
