{% extends 'base.html.twig' %}

{% block title %}New AudioFile{% endblock %}

{% block body %}
    <h1>Create new AudioFile</h1>

    {{ include('audio_file/_form.html.twig') }}

    <a href="{{ path('app_audio_file_index') }}">back to list</a>
{% endblock %}
